*{
   margin: 0;
   padding: 0;
}
#contain{
   margin: auto;
   display: flex;
   height: calc(100vh);
   background-color: rgb(38, 51, 129);
}
#rule{
   /* width: 600px; */
   color: aliceblue;
   font-weight: 600;
   margin: auto 0 auto 20px;
}
.btn{
   width: 100px;
   height: 80px;
   background-color: rgb(217, 158, 171);
   font-size: 18px;
   text-align: center;
   line-height: 80px;
}
.level{
   margin: 20px 0;
}
#pintu{
   margin: auto;
   width: 400px;
   height: 400px;
   background: azure;
}
#imgArea{
   width: 400px;
   height: 400px;
}